/*prevent gtk styles overwrite*/
#workspaces button:hover {
    all: unset;    
}

* {
    border: none;
    border-radius: 0;
    font-family: "Ubuntu Nerd Font"; 
    font-size: 14px;
    min-height: 0;
    padding: 1px 7px;
}

window#waybar {
    margin-top: 5px;
    padding: 5em;
    /*background: transparent;*/
    background-color: rgba(3, 4, 5,0.6); 
    color: white;
}

#window {
    /*font-weight: bold;*/
    font-family: "UbuntuMonoNerdFont";
    border-radius: 1em;
    background-color: rgba(0,0,0,0.8);
}

#workspaces button {
    color: #999999;
    border-radius: 1em;
    background-color: rgba(0,0,0,0.4);
    transition-property: background-color;
    transition-duration: 0.5s;
}

#workspaces button.visible {
    margin: 0 2px;
    color: white;
    border-radius: 1em;
    background-color: rgba(0,0,0,0.8);
}

#workspaces button.focused {
    color: rgba(200,200,200,1);
    background-color: #000000;
}
/*
#workspaces button.hover {
    color: rgba(200,200,200,1);
    background-color: #000000;
}
*/
#workspaces button.active {
    margin: 0 2px;
    color: white;
    border-radius: 1em;
    background-color: rgba(0,0,0,0.8);
    border: solid;
    border-width: 2px;
    border-color: #FD5939;
}

#workspaces button:hover {
    border-radius: 1em;
    padding: 1px 7px;
    background-color: #FD5939; 
    /*prevent gtk styles overwrite*/ 
    transition-duration: 0.5s;
    animation: none;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock, #battery, #network, #pulseaudio, #custom-spotify, #tray, #mode, #misc, #hardware {
    padding: 0px 5px;
    margin: 0px 2px;
    border-radius: 1em;
    background-color: rgba(0,0,0,0.8);
    transition-property: background-color;
    transition-duration: 0.5s;
}

#clock:hover, #battery:hover, #cpu:hover, #memory:hover, #network:hover, #pulseaudio:hover, #custom-spotify:hover, #tray:hover, #mode:hover, #idle_inhibitor:hover,  #custom-wallpaper:hover, #custom-exit:hover {
    background-color: #FD5939;
    border-radius: 1em;
    transition-duration: 0.5s    
}

#clock {
    font-weight: bold;
}

#battery {
}

#battery icon {
    color: red;
}

#battery.charging {
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#cpu {
}

#memory {
}

#network {
}

#network.disconnected {
    background: #f53c3c;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#tray {
}

